<div class="info">
  Female, 29
</div>
<div class="description">
  Mother of a child with Autism - Thinks she's a bad mom because she lacks patience at times - 
  Sometimes feels like leaving everything behind - Dreams of one day owning her own food truck
</div>

<div class="message">
  <%= render 'form' %>
</div>


<div class="positive-messages">
  <h3>Messages from other awesome people like you:</h3>

  <% @messages.each do |message| %>
    <tr>
      <td><%= message.body %></td>

      <td><%#= link_to 'Show', message %></td>
      <td><%= link_to 'Edit', edit_message_path(message) %></td>
      <td><%#= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%#= link_to 'New Message', new_message_path %>
</div>